
@import url('./variaveis.css');

body {
    margin: 0;
}

main{
    background: linear-gradient(to right bottom, rgb(248, 244, 244), rgb(252, 233, 233), rgb(250, 211, 211), rgb(250, 196, 196), rgb(255, 43, 43));
    width: 100vw;
    height: 100vh;
    opacity: 0;
    animation: fadeIn .8s ease forwards;
    z-index: 1;
}

.navigator .active {
    background-color: var(--primary-timeline-2);
    color: white;
}