/* largura da barra */
main::-webkit-scrollbar,
.main::-webkit-scrollbar {
    width: 50vw;
    /* vertical */
    height: 10px;
    /* horizontal */
    position: fixed;
    left: (50% - 25vw);
    top: 0;
    z-index: 99999;
}

/* remove setas (buttons) */
main::-webkit-scrollbar-button,
.main::-webkit-scrollbar-button {
    display: none;
    width: 0;
    height: 0;
    z-index: 99999;
}

/* trilho da barra (fundo) */
main::-webkit-scrollbar-track,
.main::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
    z-index: 99999;
    /* width: 60vw; */
}

/* “thumb” (a parte que você arrasta) */
main::-webkit-scrollbar-thumb,
.main::-webkit-scrollbar-thumb {
    background-color: #000;
    /* bolinha preta */
    border-radius: 10px;
    border: 2px solid transparent;
    /* espaço entre thumb e track */
    background-clip: content-box;
    z-index: 99999;
}

/* thumb ao passar o mouse */
main::-webkit-scrollbar-thumb:hover,
.main::-webkit-scrollbar-thumb:hover {
    background-color: #000;
    z-index: 99999;
}

/* Firefox */
main,
.main {
    scrollbar-color: #000 transparent;
    /* thumb | track */
    scrollbar-width: 50vw;
    overflow-x: auto;
    /* habilita scroll horizontal */
    overflow-y: hidden;
    /* desabilita scroll vertical */
    z-index: 99999;
}