@import url('../variaveis.css');

body {
   background: linear-gradient(to right, rgb(79, 153, 255), rgb(180, 210, 255));
   /* Gradiente animado no fundo */
	background-size: 400% 400%;
	animation: gradientShift 15s ease infinite;
}

/* Define a largura da time line */
.timeline-container::before { width: 4350px; }