@import url('../variaveis.css');

body {
   background: linear-gradient(to right, rgb(35, 184, 35), rgb(150, 255, 150));
   /* Gradiente animado no fundo */
	background-size: 400% 400%;
	animation: gradientShift 15s ease infinite;
}

/* Define a largura da time line */
.timeline-container::before { width: 3300px; }
